	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Aquí se mostrarán los mensajes del chat -->
				<div class="card">
					<div class="card-header">Chat</div>
					<div class="card-body" class="row">
						<ul id="mensajesChat">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Aquí se mostrará el formulario -->
				<div class="card">
					<div class="card-header">Formulario</div>
					<div class="card-body">
						<form id="formChat">
							<div class="mb-3">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control" id="email" name="email">
							</div>
							<div class="mb-3">
								<label for="user" class="form-label">user</label>
								<input type="text" class="form-control" id="user" name="user">
							</div>
							<div class="mb-3">
								<label for="message" class="form-label">Message</label>
								<textarea class="form-control" id="message" name="message"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Eviar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>