<footer class="mx-4">
    <div className="bg-info bg-opacity-25 p-1">
        <div>
            <p className="text-center text-decoration-none mb-0">
                Tel: *******
                Direccion: calle falsa 123 UKSd
            </p>
            <p className="text-center text-decoration-none mb-0">
                PRIVACY POLICY
                TERMS & CONDITIONS
                ©2022
            </p>
        </div>
    </div>
</footer>